<!--头部很多页面都需要使用，使用模板来存储-->
{{template "header"}}
<title>{{.Topic.Title}}-我的 Beego 博客</title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--导航部分也是共用的，可以用模板存起来，另外加上一个点，目的是为了后面传数据能够传进来-->
        {{template "navbar" .}}
    </div>
</div>
<br>
<br>
<div class="container" >
   <h1>{{.Topic.Title}}<a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">修改文章</a></h1>
    {{.Topic.Content}}
</div>
<div class="container" >
    {{$tid:= .Topic.Id}}
    {{range .Replies}}
    <h3>{{ .Name}}<small>{{ .Created}}</small><a href="/reply/delete?tid={{$tid}}&rid={{ .Id}}">删除</a></h3>
    {{ .Content}}
    {{ end}}
    <h3>本文回复</h3>
    <form action="/reply/add" method="post">
        <input type="hidden" name="tid" value="{{ .Topic.Id}}">
        <div class="form-group">
            <label>显示昵称:</label>
            <input class="form-control" name="nickname">
        </div>
        <div class="form-group">
            <label>内容:</label>
            <textarea class="form-control" name="content"> </textarea>
        </div>
        <button class="btn btn-default">提交</button>
    </form>
</div>
</body>
</html>